<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>德鲁大叔管理系统</title>
    <link th:href="@{static/css/layui/layui.css}" rel="stylesheet">
    <link th:href="@{static/css/layui/home.css}" rel="stylesheet">
</head>
<body onload="nowTime()">
<div class="wrap-container welcome-container">
    <div class="row">
        <div class="welcome-left-container col-lg-9">
            <div class="data-show">
                <ul class="clearfix">
                    <li class="col-sm-12 col-md-4 col-xs-12">
                        <a href="javascript:;" class="clearfix">
                            <div class="icon-bg bg-org f-l">
                                <span class="iconfont">&#xe606;</span>
                            </div>
                            <div class="right-text-con">
                                <p class="name">会员数</p>
                                <p><span class="color-org">89</span>数据<span class="iconfont">&#xe628;</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="col-sm-12 col-md-4 col-xs-12">
                        <a href="javascript:;" class="clearfix">
                            <div class="icon-bg bg-blue f-l">
                                <span class="iconfont">&#xe602;</span>
                            </div>
                            <div class="right-text-con">
                                <p class="name">文章数</p>
                                <p><span class="color-blue">189</span>数据<span class="iconfont">&#xe628;</span></p>
                            </div>
                        </a>
                    </li>
                    <li class="col-sm-12 col-md-4 col-xs-12">
                        <a href="javascript:;" class="clearfix">
                            <div class="icon-bg bg-green f-l">
                                <span class="iconfont">&#xe605;</span>
                            </div>
                            <div class="right-text-con">
                                <p class="name">评论数</p>
                                <p><span class="color-green">221</span>数据<span class="iconfont">&#xe60f;</span></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!--图表-->
            <div class="chart-panel panel panel-default">
                <div class="panel-body" style="height: 386px;">
                    <img src="static/img/bg.png" style="width: 100%">
                </div>
            </div>
            <!--服务器信息-->
            <div class="server-panel panel panel-default">
                <div class="panel-header">服务器信息</div>
                <div class="panel-body clearfix">
                    <div class="col-md-2">
                        <p class="title" align="center">服务器环境</p>
                        <span class="info" align="center">Ubuntu 16.04</span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">服务器IP地址</p>
                        <span class="info" align="center">47.102.220.5 </span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">服务器域名</p>
                        <span class="info" align="center">kyriemtx.com</span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center"> 系统版本</p>
                        <span class="info" align="center">1.0.1</span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">数据库信息</p>
                        <span class="info" align="center">mysql 5.8 </span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">服务器当前时间</p>
                        <span class="info" id="nowDateTimeSpan"></span>
                    </div>
                </div>
            </div>
            <div class="server-panel panel panel-default">
                <div class="panel-header">联系我</div>
                <div class="panel-body clearfix">
                    <div class="col-md-2">
                        <p class="title" align="center">QQ</p>
                        <span class="info" align="center">1319356962</span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">E-mail</p>
                        <span class="info" align="center">1319356962@qq.com</span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">博客</p>
                        <span class="info" align="center"><a href="http://kyriemtx.com">德鲁大叔博客</a></p></span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">GitHub</p>
                        <span class="info" align="center"><a href="https://github.com/kyriemtx?tab=repositories">GitHub</a></span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">头条号</p>
                        <span class="info" align="center"><a href="https://mp.toutiao.com/profile_v3/graphic/articles">头条号</a></span>
                    </div>
                    <div class="col-md-2">
                        <p class="title" align="center">德鲁大叔管理系统</p>
                        <span class="info" align="center"><a href="https://47.102.220.5:8800/kyrie"></a>德鲁大叔管理系统</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-edge col-lg-3" style="height: 100%">
            <div class="panel panel-default comment-panel" >
                <div class="panel-header">最新留言</div>
                <div class="panel-body">
                    <div class="commentbox">
                        <ul class="commentList">
                            <li class="item cl"> <a href="#"><i class="avatar size-L radius"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl"> <a href="#"><i class="avatar size-L radius"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl"> <a href="#"><i class="avatar size-L radius"></i></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                            <li class="item cl"> <a href="#"><i class="avatar size-L radius"></a>
                                <div class="comment-main">
                                    <header class="comment-header">
                                        <div class="comment-meta"><a class="comment-author" href="#">慕枫</a> 评论于
                                            <time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
                                        </div>
                                    </header>
                                    <div class="comment-body">
                                        <p><a href="#">@某人</a> 系统真不错！！！</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{static/js/jquery.1.12.4.min.js}"></script>
<script th:src="@{static/js/time.js}"></script>
<script th:src="@{static/js/layui/layui.js}"></script>
</body>
</html>
