<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.kyrieboot.system.areamanager.area.mapper.SysAreaMapper">
    <resultMap type="com.mtx.kyrieboot.system.areamanager.area.entity.SysArea" id="SysAreaMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="areaCode" column="area_code" jdbcType="VARCHAR"/>
        <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
        <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
        <result property="shortName" column="short_name" jdbcType="VARCHAR"/>
        <result property="lng" column="lng" jdbcType="VARCHAR"/>
        <result property="lat" column="lat" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="memo" column="memo" jdbcType="VARCHAR"/>
        <result property="dataState" column="data_state" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysAreaMap">
        select
          id, area_code, city_code, area_name, short_name, lng, lat, sort, gmt_create, gmt_modified, memo, data_state
        from kyrieboot.sys_area
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysAreaMap">
        select
          id, area_code, city_code, area_name, short_name, lng, lat, sort, gmt_create, gmt_modified, memo, data_state
        from kyrieboot.sys_area
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" parameterType="com.mtx.kyrieboot.system.areamanager.area.entity.SysArea" resultMap="SysAreaMap">
        select
          id, area_code, city_code, area_name, short_name, lng, lat, sort, gmt_create, gmt_modified, memo, data_state
        from sys_area
        <where>
            <if test="areaCode != null and areaCode != ''">
                and area_code = #{areaCode}
            </if>
            <if test="cityCode != null and cityCode != ''">
                and city_code = #{cityCode}
            </if>
            <if test="areaName != null and areaName != ''">
                and area_name = #{areaName}
            </if>
            <if test="shortName != null and shortName != ''">
                and short_name = #{shortName}
            </if>
            <if test="lng != null and lng != ''">
                and lng = #{lng}
            </if>
            <if test="lat != null and lat != ''">
                and lat = #{lat}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified}
            </if>
            <if test="memo != null and memo != ''">
                and memo = #{memo}
            </if>
            <if test="dataState != null and dataState != ''">
                and data_state = #{dataState}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into kyrieboot.sys_area(area_code, city_code, area_name, short_name, lng, lat, sort, gmt_create, gmt_modified, memo, data_state)
        values (#{areaCode}, #{cityCode}, #{areaName}, #{shortName}, #{lng}, #{lat}, #{sort}, #{gmtCreate}, #{gmtModified}, #{memo}, #{dataState})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update kyrieboot.sys_area
        <set>
            <if test="areaCode != null and areaCode != ''">
                area_code = #{areaCode},
            </if>
            <if test="cityCode != null and cityCode != ''">
                city_code = #{cityCode},
            </if>
            <if test="areaName != null and areaName != ''">
                area_name = #{areaName},
            </if>
            <if test="shortName != null and shortName != ''">
                short_name = #{shortName},
            </if>
            <if test="lng != null and lng != ''">
                lng = #{lng},
            </if>
            <if test="lat != null and lat != ''">
                lat = #{lat},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="memo != null and memo != ''">
                memo = #{memo},
            </if>
            <if test="dataState != null and dataState != ''">
                data_state = #{dataState},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from kyrieboot.sys_area where id = #{id}
    </delete>

</mapper>